@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.Links {
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
    font-family: "Inter", sans-serif;
    border-top: solid 3px #7D6D61;
}

.Column {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.Column h4 {
    font-size: 1.125rem;
}