@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.body img {
	box-shadow: 0px 3px 12px 0px rgba(0,0,0,0.75);
}

.FVContainer {
	position: absolute;
	bottom: 24.5rem;
	left: 5rem;
	color: #f9f4e1;
	font-family: "Inter", sans-serif;
}

.ImageTitle {
	font-size: 3.25rem;
	font-weight: 700;
	margin-bottom: 2.5rem;
	letter-spacing: 0.04rem;
}

.LinkToPortfolio {
	display: flex;
	align-items: center;
	column-gap: 0.625rem;
	font-size: 1.125rem;
	font-weight: 700;
	letter-spacing: 0.03rem;
	width: fit-content;
	padding: 7px;
	border-radius: 10px;
	border: 2px solid #f9f4e1;
	cursor: pointer;
	transition: all 0.3s ease;
}

.LinkToPortfolio:hover .ArrowIcon {
	animation-name: meineAnimation;
	animation-duration: 0.8s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
}

@keyframes meineAnimation {
	0% {
		transform: translateX(0);
	}

	30% {
		transform: translateX(4px);
	}

	50% {
		transform: translateX(0);
	}

	70% {
		transform: translateX(5px);
	}

	100% {
		transform: translateX(0);
	}
}

.MainSection {
	display: flex;
	justify-content: space-between;
	background-color: #d5d3c469;
	border-radius: 14px;
	width: fit-content;
	font-family: 'Inter', sans-serif;
	padding: 50px;
	column-gap: 70px;
	margin: 6.5rem auto;
}

.MainSection div {
	max-width: 600px;
}

.LeftBox {
	display: flex;
	flex-direction: column;
	align-self: center;
	font-size: 24px;
	font-weight: 700;
}

.LeftBox img {
	border-radius: 12px;
	width: 600px;
	height: auto;
	margin-top: 3.125rem;
}

.RightBox {
	display: flex;
	flex-direction: column;
	align-self: center;
	font-size: 1.1rem;
	font-weight: 400;
}

.RightBox button {
	margin-top: 3.75rem;
	width: 250px;
	padding: 10px;
	font-size: 16px;
	font-weight: 700;
	border: solid 3px #7D6D61;
	border-radius: 12px;
	color: #7D6D61;
	transition: all 0.3s ease-in-out;
	cursor: pointer;
	background-color: #7d6d614b;
}

.RightBox button:hover {
	background: transparent;
}